标题：营养需求
来源：https://www.msdmanuals.cn/professional/nutritional-disorders/nutrition-general-considerations/nutritional-requirements
============================================================

良好的营养旨在达到和保持理想的身体组成（低脂肪比例和高瘦质量比例）。平衡能量摄入与能量消耗对于理想的体重是必要的。能量消耗取决于年龄、性别和体重（见表推荐饮食参考摄入量）、新陈代谢和体力活动。热量供给超过体内消耗会导致体重增长。反之，则造成体重减少。
每日必需营养素的膳食需求也取决于年龄、性别、体重以及代谢和体力活动。美国国家科学院国家研究理事会的食品与营养委员会和美国农业部（USDA）每五年颁布一次蛋白质、能量、某些维生素和矿物质的dietary reference intakes（膳食营养素参考摄入量）（DRIs），（见表推荐膳食参考摄入量、推荐每日维生素摄入量和每日摄入指南）。对于那些了解较少的维生素和矿物质，安全和适当的每日膳食摄入量是估算出来的。
孕妇和婴儿有特殊的营养需求（与能量和微量营养素需求增加有关）。
美国农业部（USDA）发布了我的餐盘，该工具可帮助人们养成健康的饮食习惯，并选择符合自身需求的健康食物。这些建议是根据不同年龄、性别和生理活动列出的个性化的建议。

【普遍膳食推荐量a，适用于40岁中度体育活动量人群b】
普遍膳食推荐量a，适用于40岁中度体育活动量人群b
食物种类
用量/每天
3.5杯
2.5杯
乳制品f
蛋白质g
6.5盎司
5.5盎司
每天估计摄入量i
2600卡
2000卡
a实际所需摄入量会因身高与体重而异，最准确的测定方式是：监测体重随膳食摄入变化的情况。该表中的数据是针对31-59岁男性的，计算标准是身高5英尺10英寸（178厘米），体重150磅（68公斤）。女性的摄入量数据基于身高 5 英尺 6 英寸（168 厘米）、体重 130 磅（59 千克）的标准。
b每天30分钟-60分钟的中等程度或较剧烈的活动，例如快走、慢跑、骑自行车、有氧运动操以及园艺工作。
c至少一半应该是全谷物。通常，谷物类的 1 盎司当量相当于：1 片面包、1 杯即食麦片，或 0.5 杯熟米饭、熟意面、熟麦片。
d人们应多样化食用蔬菜，包括豆类、深绿色蔬菜（如西兰花、绿叶菜、生菜、菠菜）、橙色蔬菜（如胡萝卜、红薯、冬南瓜）、淀粉类蔬菜（如玉米、土豆），以及其他蔬菜（如芦笋、花椰菜、蘑菇、番茄）。一般来说，1杯蔬菜类食物 = 1杯生或熟蔬菜或蔬菜汁或2杯生绿叶蔬菜。
e通常，1 杯水果组 = 1 杯水果或 0.5 杯干果。果汁不算在内。
f乳制品类的 1 杯当量相当于：1 杯（8 盎司）牛奶、酸奶或豆奶（豆制饮品），1.5 盎司天然奶酪，或 2 盎司加工奶酪。使用 1% 或脱脂牛奶、低脂干酪 (1%) 或低脂酸奶。
g蛋白质食品类包括肉类、家禽、海鲜、豆类、豌豆、鸡蛋、加工豆制品、坚果和籽类。一般来说，蛋白质食品类中的1盎司当量 = 1盎司的肉类、家禽或鱼类；0.25杯煮熟的豆类；1个鸡蛋；1汤匙花生酱；或0.5盎司的坚果或种子。肉类和家禽的选择应该是瘦肉或低脂。大多数专家建议限制红肉和加工肉类的摄入。
h选择在室温下呈液态的植物油。
i这些数值是一般估计值；每日卡路里摄入量因人而异。
Adapted from United States Department of Agriculture,MyPlate.
a实际所需摄入量会因身高与体重而异，最准确的测定方式是：监测体重随膳食摄入变化的情况。该表中的数据是针对31-59岁男性的，计算标准是身高5英尺10英寸（178厘米），体重150磅（68公斤）。女性的摄入量数据基于身高 5 英尺 6 英寸（168 厘米）、体重 130 磅（59 千克）的标准。
b每天30分钟-60分钟的中等程度或较剧烈的活动，例如快走、慢跑、骑自行车、有氧运动操以及园艺工作。
c至少一半应该是全谷物。通常，谷物类的 1 盎司当量相当于：1 片面包、1 杯即食麦片，或 0.5 杯熟米饭、熟意面、熟麦片。
d人们应多样化食用蔬菜，包括豆类、深绿色蔬菜（如西兰花、绿叶菜、生菜、菠菜）、橙色蔬菜（如胡萝卜、红薯、冬南瓜）、淀粉类蔬菜（如玉米、土豆），以及其他蔬菜（如芦笋、花椰菜、蘑菇、番茄）。一般来说，1杯蔬菜类食物 = 1杯生或熟蔬菜或蔬菜汁或2杯生绿叶蔬菜。
e通常，1 杯水果组 = 1 杯水果或 0.5 杯干果。果汁不算在内。
f乳制品类的 1 杯当量相当于：1 杯（8 盎司）牛奶、酸奶或豆奶（豆制饮品），1.5 盎司天然奶酪，或 2 盎司加工奶酪。使用 1% 或脱脂牛奶、低脂干酪 (1%) 或低脂酸奶。
g蛋白质食品类包括肉类、家禽、海鲜、豆类、豌豆、鸡蛋、加工豆制品、坚果和籽类。一般来说，蛋白质食品类中的1盎司当量 = 1盎司的肉类、家禽或鱼类；0.25杯煮熟的豆类；1个鸡蛋；1汤匙花生酱；或0.5盎司的坚果或种子。肉类和家禽的选择应该是瘦肉或低脂。大多数专家建议限制红肉和加工肉类的摄入。
h选择在室温下呈液态的植物油。
i这些数值是一般估计值；每日卡路里摄入量因人而异。
Adapted from United States Department of Agriculture,MyPlate.
一般来说，随着年龄的增长，建议摄入量会减少，因为体力活动往往会减少，导致能量消耗减少。
以下是针对成人和儿童的一般准则 (1)：
在人生的每个阶段都遵循健康的饮食模式
在人生的每个阶段都遵循健康的饮食模式
根据个人喜好、文化传统和预算考量，定制并享用营养丰富的食物和饮料。
根据个人喜好、文化传统和预算考量，定制并享用营养丰富的食物和饮料。
专注于通过营养密集型的食物和饮料来满足食物组的需求，并保持在热量限制内。
专注于通过营养密集型的食物和饮料来满足食物组的需求，并保持在热量限制内。
限制添加糖、饱和脂肪和钠含量较高的食品和饮料，并限制酒精饮料
限制添加糖、饱和脂肪和钠含量较高的食品和饮料，并限制酒精饮料
充足的液体摄入也十分重要。
脂肪的可接受常量营养素分配范围是总热量摄入的20%到35%，饱和脂肪酸应占比<7%。过量摄入饱和脂肪会导致动脉粥样硬化。用多不饱和脂肪酸替代饱和脂肪，可降低动脉粥样硬化的发病风险。
日常服用营养补充剂并非必要或有益；有些补充剂可能有害。例如，过量维生素A可导致维生素A过量症、头痛、骨质疏松症和皮疹。

【参考文献】
1.U.S. Department of Health and Human Services and US Department of Agriculture. Dietary Guidelines for Americans, 2020-2025.9th Edition.December 2020.
1.U.S. Department of Health and Human Services and US Department of Agriculture. Dietary Guidelines for Americans, 2020-2025.9th Edition.December 2020.